<h1>Here are all your tasks.</h1>

<% @tasks.each do |t| %>
  <p>

    <h3><%= t.title %></h3>
    <%= link_to "Details", task_path(t) %> <br>
    <%= link_to "Delete this task!", task_path(t), :method =>'delete', data: { confirm: "Are you really sure?"} %>

    <% if !t.completed_at %>
      <%= form_for t, method: :patch do |f|%>
      <%= f.label :completed_at, "Done?"%>
      <%= f.hidden_field :completed_at, :value => Time.now %>
      <%= f.submit "I did this!", data: { confirm: "Are you really sure?"} %>
      <% end %>
    <% else %>
      <p>
        Yay! 
      </p>
    <% end  %>
  </p>

<% end %>

<h3>Add a new task!</h3>
<p>
<%= link_to "Do it here", tasks_new_path %>
</p>
