<h1>Here are all your tasks.</h1>

<% @tasks.each do |t| %>
  <p>

    <%= t.id.to_s + "." %>
    <%= link_to t.title, task_path(t) %> <br>
    <%= link_to "Edit this task!", task_edit_path(t) %>
    <%= link_to "Delete this task!", task_path(t), :method =>'delete' %>
  </p>
<% end %>

<h3>Add a new task!</h3>
<p>
<%= link_to "Do it here", tasks_new_path %>
</p>
